<div class="blueprint" id="<%= dom_id blueprint %>">
  <div class="header">
    <h1><%= blueprint.name %></h1>

    <div class="faded">
      Subsystem @ sell
      <span class="value">
        <%=isk blueprint.item.sell %>
      </span>
    </div>

    <div class="faded">
      Materials @ buy
      <span class="value">
        <%=isk blueprint.buy %>
      </span>
    </div>

    <div class="profit">
      Profit (<%= blueprint.profit_in_percent %>%)
      <span class="value">
        <%=isk blueprint.profit %>
      </span>
    </div>
  </div>



  <div class="reverse-engineering">
    <h2>Reverse Engineering<span>(4 &times; cost/run)</span></h2>
    <!--
    <div class="faded">Intact Weapon Subroutines</div>
    <div>Malfunctioning Weapon Subroutines</div>
    <div class="faded">Wrecked Weapon Subroutines</div>
    -->
    <div class="faded">Out of order</div>
  </div>



  <div class="materials">
    <h2>Materials</h2>

    <table>
      <thead>
        <tr>
          <th class="value">#</th>
          <th>Salvage</th>
          <th class="value">Value</th>
        </tr>
      </thead>
      <tbody>
        <% blueprint.materials.each do |material| %>
          <tr>
            <td class="value"><%= material.quantity %></td>
            <td><%= material.item.name %></td>
            <td class="value"><%=isk material.buy %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
