<h1>New Blueprint</h1>
<%= form_for @blueprint do |f| %>
  <ol>
    <li>
      <%= f.label :item_id %>
      <%= f.collection_select :item_id, Item.all, :id, :name %>
    </li>
    <%= f.fields_for :materials do |m| %>
      <li>
        <%= m.label :quantity, m.object.item.name %>
        <%= m.number_field :quantity %>
        <%= m.hidden_field :item_id %>
      </li>
    <% end %>
  </ol>
  <%= f.submit %>
<% end %>
